<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="styles.css" rel="stylesheet" media="screen" type="text/all">

  </head>
  <body>
    <%=yield%>
  </body>
</html>
