body {
  padding: 200px;
  background: url(scrabble.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scrabble-input {
  width: 330px;
}

h1, .xyz{
  color:white;
  background:#5CB85C;
  width: 340px;
}

.form-control {
  margin-bottom:7px;
}

p {
  color:white;
  background:#5CB85C;
  font-size: 40px;

}
